.board {
  display: grid;
  gap: 4px;
  margin: 0 auto;
  padding: 16px;
  background: white;
  border-radius: 16px;
  border: 3px solid #fda4af;
  box-shadow: 0 8px 24px rgb(0 0 0 / 15%);
  width: fit-content;
}

@media (width <= 480px) {
  .board {
    padding: 8px;
    gap: 3px;
    max-width: 95vw;
  }
}
